*{
    margin: 0;
}
.ocultar{
    display: none;
}
.mostrar{
    display: block;
}
input{
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-size: 28px ;
    display: 19px;
    color: white;
    background-color: rgb(10, 118, 87);;
    border-color: rgb(10, 118, 87);;
    margin-right: 8px;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: white;
}

p, h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: #605063;
}
.letra{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: #605063;
}
.centrar{
    display: 10%;
    padding: 10px;
    padding-left: 352px;
    padding-right: 352px;
}
.color{
    border: 3px rgb(10, 118, 87);
    background-color: rgb(10, 118, 87);
}
.producto{
    width: 550px;
}
.container{
    margin-top: 20px;
    margin-left: 200px;
}
hr{
    color: white;
}